body{
    background-color: #d7dee4;
}
#dis{
    font-size: 50px;
    
}
#eq{
    color: bisque;
}

table{
    border-collapse: collapse;
    border: none;
    margin-top: 10%;
    margin-left: 10%;
    color: white;
}
td{
    width: 70px;
    background: #374353;
    height: 50px;
   


}
#result {
    height: 100px;
    border: 1px solid aqua;
}
.op{
    width: inherit;
    height: inherit;
    border: none;
    background-color: #3e4751;
    color: pink;

}
.num{
    width: inherit;
    height: inherit;
    border: none;
    background-color: #4e545c;
    color: pink;

}
#calculate{
    width: 100%;
    background-color: #fe6d4d;
    height: 100%;
}
.clr{
    background-color: rgb(247, 0, 0);
}
.num:hover{
    background-color: #fe6d4d;
    border: 1px solid aqua;
}
.op:hover{
    background-color: aqua;
}
#calculate:hover{
    background-color: #f93306;
    animation-duration: 1s;
}