html {
  height: 100%;
  width: 100%;
}

body {

  background-size: cover;

  background-image: url(https://images.pexels.com/photos/7135037/pexels-photo-7135037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);


}

.actionButtons ul {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-left: 20px;


}

.nav {
  color: white;
  font-size: 20px;
  align-items: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.btnNav {
  margin-top: 5px;
}

.main {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.txt {
  color: gray;
  font-size: 50px;
}

.nfts {
  color: #00ff00;
}

.loremTxt {
  margin-top: 50px;
  margin-left: 10px;
  color: white;
}

.img {
  background-image: url("img/nft_img.png");
}

.conatiner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.box {
  rotate: 90deg;
  margin: 5px;
  width: 200px;
  height: 200px;
  background-color: #007bff;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;


}
.box:hover{
  transition: 1s;
    width: 250px;
      height: 250px;

}

.boxImg {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%);

  width: 180px;
  height: 180px;
  background-image: url(img/rim.jpg);
  background-size: cover;
  background-position: center;
}
.boxImg:hover{
  width: 225px;
  height: 225px;
  transition: 1s;

}


.footer {
 

  color: #ffffff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 10px 0;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ff9900;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: filter 0.3s;
}

.social-links img:hover {
  filter: brightness(0) invert(0.6);
}

.footer-bottom {
  text-align: center;
  padding: 10px;

}

.footer-bottom p {
  margin: 0;
}
.social-links i{
  
  color: aqua;
}